<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
  <test thread-count="5" name="RegistrationDemoEndToEndTest">
    <classes>
      <class name="com.telus.testng.RegistrationDemoEndToEnd"/>
    </classes>
  </test> <!-- RegistrationDemoEndToEndTest -->
</suite> <!-- Automation Suite -->
